.pui-tooltip {
  position: absolute;
  padding-block: var(--pui-tooltip--padding-block, var(--pui-spacing-1-5x));
  padding-inline: var(--pui-tooltip--padding-inline, var(--pui-spacing-3x));
  max-inline-size: var(--pui-tooltip--max-width, 200px);
  color: var(--pui-tooltip--color, var(--pui-color-text));
  background-color: var(--pui-tooltip--bg-color, var(--pui-color-bg));
  border: 1px solid var(--pui-tooltip--border-color, var(--pui-color-border-secondary));
  border-radius: var(--pui-tooltip--border-radius, var(--pui-border-radius-base));
  box-shadow: var(--pui-tooltip--shadow, var(--pui-shadow-bottom-s));
  z-index: var(--pui-tooltip--z-index, 1000);
}
